.cars-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 1100px;
}

.car-item {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 350px;
  margin-bottom: 20px;
  background-color: white;
}

.car-item-image {
  display: flex;
  align-items: center;
  width: 100%;
  height: 187px;
  /* background-color: black; */

  > img {
    max-width: 100%;
    height: 100%;
  }
}

.car-item-content {
  display: flex;
  flex-direction: column;
}

.car-item-content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.car-item-content-hidden {
  position: relative;
}

.car-item-content-hidden-content {
  display: none;
  position: absolute;
  background-color: white;
  padding: 0px 75px 10px 75px;
}

.car-item:hover .car-item-content-hidden-content {
  display: block;
}
